body {
    background-image: url('karte.png.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
#controls{
    margin-top:20px;
}

#controls button{
    width:80px;
    height:80px;
    font-size:35px;
    margin:8px;
}
@media (hover:none){

    #fakeCursor{
        display:none;
    }

}
#scratchCanvas{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:1000;
}
